{% extends 'base.html' %}
{% block content %}
<!--{% include 'navbar.html' %}-->
<div class="container">
    <div class="text-center">
        <div class="mt-4">
            <h1 class="text-center">PingPi</h1>
            <p style="font-size: 1.25em; font-weight:300;">Just ping it...</p>
        </div>
    </div>
    {% if data.sites %}
    <div class="table-responsive">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Hrs/Min/Sec</th>
                    <th scope="col">Last Ping</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for site in data.sites %}
                <tr>
                    <td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
                    {% if site.job_type == 'cron' %}
                    <td>Daily</td>
                    {% elif site.job_type == 'interval' %}
                    <td>Interval</td>
                    {% endif %}
                    <td>{{ site.hours }}/{{ site.minutes }}/{{ site.seconds }}</td>
                    <td>8/4/2020 1:00am</td>
                    <td><button type="button" class="edit-button btn btn-success" data-site-id="{{ site.id }}" data-toggle="modal" data-target="#modal">Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="text-center mt-4">
        <button type="button" class="add-button btn btn-success mx-auto" data-toggle="modal" data-target="#modal">Add a URL!</button>
    </div>
    {% include 'modal.html' %}
</div>
{% endblock %}
